:root {
  --main-font-family: 'Open Sans', sans-serif;;
  --cursive-font-family: 'Major Mono Display', monospace;
  --strong-font-family: 'Oswald', sans-serif;
  --main-bg-color: #f2f2f2;
  --main-font-color: #555;
  --black: #000;
  --white: #fff;
  --blue: rgb(74, 90, 211); /*Increment Blue*/
  --red: #ff5e57; /*Sunset Orange*/
  --pink: #fff4ed; /*Eno Pink*/
  --cream-white:#f7f1e3; /*Swan White*/
  --yellow: #ffbc00; /*Orangey Yellow*/
  --grey: #f5f5f5;
}



/* ///// */
/* Basic Styling */

html, body {
  box-sizing: border-box;
  margin: 0;
  /* color: var(--main-font-color); */
  font-family: var(--main-font-family);
  font-size: 1rem;  
  font-weight: 400;
  line-height: 1.5;
  background: linear-gradient(180deg, var(--blue) 0%, var(--red) 35%, var(--red) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, ul, ol {
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  padding-top: 4.5rem;
  padding-bottom: 1.5rem;
  font-family: var(--cursive-font-family);
  font-size: 3rem;
  font-weight: 400;
  
}

/* h1 > span {
  font-family: var(--main-font-family);
} */

h2 {
  font-size: 1.5rem;
  letter-spacing: -.03em;
}


h3 {
  font-weight: 500;
  letter-spacing: .06em;
}

h3, h4 {
  font-size: 1rem;
}

h4 {
  font-family: var(--strong-font-family);
  font-weight: 700;
  text-transform: uppercase;
}

p {
  max-width: 30em;
}

button {
  /* display: inline-block; */
  padding: 0.75rem 1.5rem;
  color: var(--white);
  font-family: var(--bold-font-family);
  font-size: 1.25rem;
  background: var(--blue);
  box-shadow: rgba(255, 163, 148, 0.1) 0 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



/* ///// */
/* Reusable Components */

.bg-linear {
  background: linear-gradient(180deg, var(--blue) 0%, var(--red) 35%, var(--red) 100%);
}

.bg-white {
  background: var(--white);
}

.bg-grey {
  background: var(--grey);
}

.bg-black {
  color: var(--white);
  background: var(--black);
}

.font-cursive {
  font-family: var(--cursive-font-family);
}

.measure-narrow {
  max-width: 30em;
}

.temp-pad {
  padding: 1.5rem;
}

.text-clip {
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0,0,0,.2);
}




/* ///// */
/* App Grid */

.app-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, minmax(200px, auto));
  grid-template-areas: 
    "n n n n n n"
    "m m m m m m"
    "s s s s s s"
    "j j j j j j"
    "c c c c c c"
    "f f f f f f";
  max-width: 1500px;
  padding: 2rem; 
}


/* ///// */
/* Header */

.header-wrapper {
  grid-area: n;
}


/* ///// */
/* Nav */

.nav-wrapper {
  grid-area: n;
}

.nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1.5rem 1.5rem .75rem 1.5rem;
  font-family: var(--cursive-font-family);
  font-size: 2rem;
  /* border-bottom: 0.5em solid var(--blue); */
  box-shadow: 0 1px 3px rgba(#000000, 0.2);
  list-style-type: none;
}

.nav-container li {
  margin-right: .5rem;
}

.nav-container li:first-child {
  flex-grow: 1;
}




/* ///// */
/* Main */

.main-wrapper {
  grid-area: m; 
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(200px, auto);
  grid-template-areas: 
    "h t t t t t"
    "h t t t t t"
}

/* ///// */
/* Hero */

.hero-wrapper {
  grid-area: h;
  border-radius: 1.5rem;

}



/* ///// */
/* Todo */

.toDo-wrapper {
  grid-area: t;
  display: flex;
  justify-content: center;
  background: var(--grey);
}

.toDo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  /* margin: auto; */
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background: var(--white);
  border: 1px solid #efefef;
  box-shadow:
  /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
          /* The second layer */
      0 10px 0 -5px #eee,
          /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
          /* The third layer */
      0 20px 0 -10px #eee,
          /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
}

.toDo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  padding: 2rem 1rem 0;
  color: #333333;
  font-size: 1.1rem;
  border-bottom: 1px solid #cecece;
}

.toDo-item p {
  margin-left: 1rem;
}
input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
}

input[type=checkbox]:focus {
  outline: 0;
}

/* .round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  /* top: 0; */
  /* width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: var(--blue);
  border-color: var(--blue);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1; 
} */


/* ///// */
/* Skills */

.skills-wrapper {
  grid-area: s;
  background: rgb(20, 20, 20);
  color: var(--grey);
}

.skills-container {
  border: 1px solid var(--grey);
  border-radius: 1.5rem;
  padding: 2rem;
}

.skills-container h1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  /* display: flex; */
  /* justify-content: end; */
  /* align-content: flex-end; */
}


.skills-container ul {
  list-style: none;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 50px;
  align-items: center;
  margin-bottom: 5rem;
}

.skills-container li {
  padding-left: 1rem;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: 2px;
  border-left: 3px solid var(--grey);
}


/* ///// */
/* Jokes */
.jokes-wrapper {
  grid-area: j;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  padding: 8rem 1.5rem 5rem;
  background: var(--grey);
}

.jokes-wrapper > h1 {
  padding-top: 0;
  justify-self: center;
  text-align: right;
}

.jokes-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  padding: 2rem 1rem 2rem 1.5rem;
  color: var(--white);
  font-size: 1.2rem;
  background: var(--blue);
  border-radius: 1.5rem;
  box-shadow: 0 10px 6px -6px #c7c7c7;

}


.jokes-card p {
  font-style: italic;
  max-width: 300px;
}

/* ///// */
/* Contact Card */

.contact-card-wrapper {
  grid-area: c;
  grid-gap: 1rem;;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



/* ///// */
/* Footer */

.footer-wrapper {
  grid-area: f;
  display: flex;
  justify-content: flex-end;
}